body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}

.business-card {
    width: 300px;
    background-color: whitesmoke;
    padding: 20px;
    margin: 100px auto 0px auto;
    text-align: center;
    font-size: 16px;
    border: 4px solid #385139
}

.profile-image {
    width: 200px;
    max-width: 100%;
    border: 2px solid #b3b4b3;
}

.full-name {
    font-size: 20px;
    color: darkslategray;
}

.designation {
    font-size: 18px;
    color: gray;
}

.company {
    font-size: 16px;
    color: darkgray;
}

a {
    text-decoration: none;
}

p {
    margin: 5px auto;
}

.social-media>a {
    padding: 0 10px;
    color: brown;
}

a:hover {
    color: blue;
}

a:visited {
    color: black
}

hr {
    margin: 20px;
    border: 1px solid black;
}